<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>INTRO-HTML</title>
</head>
<body>
    <h1>Bienvenidos a HTML</h1>

    <H2>LOREM</H2>
    <p> Excepturi error suscipit fugiat saepe sapiente labore distinctio.</p>

    <ol>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ol>
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
    <a href="http://www.google.com">enlace a google</a>

    <img src="/img/CharlesBabbage.jpg" alt="">


</body>
</html>